@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

body {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.content {
  margin-top: 50px;
  padding: 0 10px;
}

.list-no-nav {
  margin: 0 0 20px;
  padding: 0;
}

.list-no-nav li a, .list-no-nav li a:hover {
  display: block;
  color: $grayDark;
  background-color: white;
  cursor: default;
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px $grayLighter solid;
}

.list {
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.list li > a {
  display: block;
  color: $grayDark;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.list > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.list > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.list > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
.list small {
  margin-right: 6px;
}

/* Chevrons */
.list .icon-chevron-right {
  float: right;
  margin-top: 15px;
  margin-right: -6px;
  opacity: .25;
}
.list > li > a:hover {
  background-color: #f5f5f5;
}
.list a:hover .icon-chevron-right {
  opacity: .5;
}
.list .active .icon-chevron-right,
.list .active a:hover .icon-chevron-right {
  background-image: url("#{$iconSpritePath}");
  opacity: 1;
}

.secondary {
  color: $grayLight;

  .icon {
    opacity: .50;
  }
}

.btn-tab {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;

  .btn {
    min-height: 40px;
    @include border-radius(0px);
  }
}

.btn-30 {
  width: 30.5%;
}

.btn-70 {
  width: 70%;
}

.btn-40 {
  width: 40%;
}

.btn-20 {
  width: 20%;
}

.btn-100 {
  width: 100%;
}

.btn-50 {
  width: 49%;
}

.btn-large i {
  margin-top: 3px;
}

.section {
  position: relative;
  margin: 20px 0 0;
  padding: 0 0;
}

.section-title {
  margin-left: -10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  width: 100%;

  .icon {
    opacity: .65;
  }
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

input[type="checkbox"] {
  margin-top: 5px;
}

.info {
  background-color: $infoBackground;
}
