@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

body {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.btn-large i {
  margin-top: 3px;
}

.list {
  margin: 40px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.list li > a {
  display: block;
  color: $grayDark;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.list > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.list > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.list > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Badges */

.list .badge {
  float: right;
  margin-top: 15px;
  margin-right: 6px;
}

.list small {
  margin-right: 6px;
}

/* Chevrons */
.list .icon-chevron-right {
  float: right;
  margin-top: 15px;
  margin-right: -6px;
  opacity: .25;
}
.list > li > a:hover {
  background-color: #f5f5f5;
}
.list a:hover .icon-chevron-right {
  opacity: .5;
}
.list .active .icon-chevron-right,
.list .active a:hover .icon-chevron-right {
  background-image: url("#{$iconSpritePath}");
  opacity: 1;
}

.main {
  font-weight: strong;
}

.secondary {
  color: $grayLight;

  .icon {
    opacity: .50;
  }
}

.btn-tab {
  position: fixed;
  width: 100%;
  @include border-radius(0px);

  .btn {
    width: 34%;
    @include border-radius(0px);
  }
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.info {
  background-color: $infoBackground;
}
