<div class="content" ng-show="todo.ready">
  <section class="section">
    <strong>{{todo.title}}</strong><br>
    <p ng-bind-html="todo.description | newline" />
    <div class="secondary">
      <i class="icon"
         ng-class="{'icon-exclamation-sign' : module == 'incident',
                    'icon-briefcase' : module == 'workorder',
                    'icon-resize-horizontal' : module == 'interaction' }"></i> {{todo.id}} -
      <i class="icon icon-flag"></i> {{todo.status}}<br>
    </div>
  </section>
  <section class="section">
    <span class="section-title"><i class="icon icon-envelope"></i> Contact</span>
    <address>
      <div ng-show="todo.contactFullname"><strong>{{todo.contactFullname}}</strong></div>
      <div ng-show="todo.contact">{{todo.contact}}</div>
      <div ng-show="todo.contactEmail">{{todo.contactEmail}}</div>
      <div ng-show="todo.contactPhone">{{todo.contactPhone}}</div>
    </address>
  </section>

  <hr/>

  <section class="section" ng-show="todo.history">
    <!-- comment form, for updating and resolving  -->
    <form name="commentForm" ng-hide="module == 'interaction'">
      <textarea class="input-block-level" ng-model="comment.text" name="comment"
                placeholder="Add comment" rows="3" required></textarea>
      <label class="checkbox">
        <input type="checkbox" ng-model="comment.visibleToCustomer"> Visible to Customer
      </label>
      <select class="input-block-level" ng-model="comment.closureCode" required
              ng-show="module == 'incident'">
        <option value="1">User Error</option>
        <option value="2">Software Malfunction</option>
        <option value="3">Hardware Malfunction</option>
        <option value="4">Support</option>
      </select>
      <button class="btn btn-large btn-50" type="button"
              ng-click="update('update')"
              ng-disabled="!commentForm.comment.$valid">Update</button>

      <button class="btn btn-large btn-50 btn-danger pull-right" type="button"
              ng-click="update('resolution')"
              ng-disabled="!commentForm.$valid"
              ng-show="module == 'incident'">Resolve</button>
    </form>

    <span class="section-title"><i class="icon icon-list-alt"></i> History</span>

    <ul class="nav nav-list list-no-nav">
      <li ng-repeat="hist in todo.history">
         <a tabindex="-1">
          <div>
            <small ng-hide="todo.priority == 'null'" class="pull-right">Origin {{hist.origin}}</small>
            <strong>{{hist.type}}</strong>
            <div ng-bind-html="hist.update | newline"></div>
            <div class="secondary">
             {{hist.time | vagueTime}}<br>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </section>

</div>