<div class="btn-group btn-tab">
  <button class="btn btn-large btn-inverse"
          ng-class="{'active': filter == 'myList' }"
          ng-click="queryIncidents( 'myList' )">
    Mine
  </button>
  <button class="btn btn-large btn-inverse"
          ng-class="{'active': filter == 'groupList' }"
          ng-click="queryIncidents( 'groupList' )">
    Group
  </button>
  <button class="btn btn-large btn-inverse">
    <i class="icon icon-white icon-search"></i> Search
  </button>
</div>

<ul class="nav nav-list list">
  <li ng-repeat="incident in incidents">
    <a ng-click="details(incident.id)">
      <i class="icon-chevron-right"></i>
      <div>
        <small ng-hide="incident.priority == 'null'" class="pull-right"
            ng-class="{'text-error': incident.priority == 1,
                       'text-warning': incident.priority == 2,
                       'text-info': incident.priority == 3,
                       'text-muted': incident.priority == 4}">
          Priority {{incident.priority}}
        </small>
        <strong>{{incident.title}}</strong>
        <div class="secondary">
          <i class="icon icon-tag"></i> {{incident.id}} - <i class="icon icon-flag"></i> {{incident.status}}<br>
          <i class="icon icon-envelope"></i> {{incident.contactFullname}}
        </div>
      </div>
    </a>
  </li>
</ul>