<div class="content" >
  <p class="lead">Todos
    <a href="#todos/new" class="pull-right btn btn-wide"><i class="icon icon-refresh"></i></a>
  </p>

  <ul class="nav nav-tabs nav-stacked">
    <li>
      <a href="#todos/my"><i class="icon icon-user"></i> My Todos</a>
      <span class="pull-right badge">5</span>
    </li>
    <li>
      <a href="#todos/group"><i class="icon icon-users"></i> My Group Todos</a>
      <span class="pull-right badge">42</span>
    </li>
    <li><a href="#todos/search"><i class="icon icon-search"></i> Search Todos</a></li>
  </ul>

  <a href="#todos/new" class="btn btn-wide"><i class="icon icon-edit"></i> New</a>
</div>