<div class="content">
  <form ng-show="type == 'search'" >
    <input type="text" ng-model="$root.search.id" class="input-block-level"
           placeholder="Search for ticket id" />
    <input type="text" ng-model="$root.search.contact" class="input-block-level"
           placeholder="Search for contact initials" />
    <input type="text" ng-model="$root.search.assignmentGroup" class="input-block-level"
           placeholder="Search for assignment group" />

    <button type="reset" class="btn btn-50"
            ng-click="clearSearch()">
      Clear
    </button>
    <!-- Search button is enabled if any search field has a value -->
    <button type="submit" class="btn btn-primary btn-50"
            ng-click="query( 'search', search )"
            ng-disabled="($root.search.id == null || search.id == '') &&
                         ($root.search.contact == null || search.contact == '') &&
                         ($root.search.assignmentGroup == null || search.ssignmentGroup == '')">
       Search
    </button>
  </form>

  <div class="progress progress-striped active" ng-show="loading">
    <div class="bar" style="width:100%"></div>
  </div>

  <div class="alert alert-warning" ng-show="noResults">
    <h4>No Results</h4> Search yield no results.
  </div>

  <ul class="nav nav-list list">
    <li ng-repeat="todo in todos">
      <a ng-click="details(todo.module, todo.id)">
        <i class="icon-chevron-right"></i>
        <div>
          <small ng-hide="todo.priority == 'null'" class="pull-right"
                 ng-class="{'text-error': todo.priority == 1,
                            'text-warning': todo.priority == 2,
                            'text-info': todo.priority == 3,
                            'text-muted': todo.priority == 4}">
            Priority {{todo.priority}}
          </small>
          <strong>{{todo.title}}</strong>
          <div class="secondary">
            <i class="icon"
               ng-class="{'icon-exclamation-sign' : todo.module == 'incident',
                          'icon-briefcase' : todo.module == 'workorder',
                          'icon-resize-horizontal' : todo.module == 'interaction' }"></i> {{todo.id}} - <i class="icon icon-flag"></i> {{todo.status}}<br>
            <i class="icon icon-envelope"></i> {{todo.contactFullname}}
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>