<div class="btn-group btn-tab">
  <button class="btn btn-large btn-inverse"
          ng-class="{'active': filter == 'mylist' }"
          ng-click="query( 'mylist' )">
    Mine
  </button>
  <button class="btn btn-large btn-inverse"
          ng-class="{'active': filter == 'grouplist' }"
          ng-click="query( 'grouplist' )">
    Group
  </button>
  <button class="btn btn-large btn-inverse"
          ng-class="{'active': filter == 'search' }"
          ng-click="query( 'search' )">
    <i class="icon icon-white icon-search"></i> Search
  </button>
</div>

<ul class="nav nav-list list">
  <li ng-repeat="todo in todos">
    <a ng-click="details(todo.module, todo.id)">
      <i class="icon-chevron-right"></i>
      <div>
        <small ng-hide="todo.priority == 'null'" class="pull-right"
               ng-class="{'text-error': todo.priority == 1,
                          'text-warning': todo.priority == 2,
                          'text-info': todo.priority == 3,
                          'text-muted': todo.priority == 4}">
          Priority {{todo.priority}}
        </small>
        <strong>{{todo.title}}</strong>
        <div class="secondary">
          <i class="icon"
             ng-class="{'icon-exclamation-sign' : todo.module == 'incident',
                        'icon-briefcase' : todo.module == 'workorder',
                        'icon-resize-horizontal' : todo.module == 'interaction' }"></i> {{todo.id}} - <i class="icon icon-flag"></i> {{todo.status}}<br>
          <i class="icon icon-envelope"></i> {{todo.contactFullname}}
        </div>
      </div>
    </a>
  </li>
</ul>