<div class="content">
  <form name="newForm" ng-hide="module == 'interaction'">
    <label class="checkbox pull-right">
      <input type="checkbox" ng-model="me"> Me
    </label>

    <label for="contact">Contact</label>

    <input id="contact" type="text" class="input-block-level" ng-model="newInteraction.contact"
           placeholder="Contact" required></input>



    <textarea class="input-block-level" ng-model="newInteraction.description"
              placeholder="Description" rows="3" required></textarea>

    <label for="template">Template</label>
    <select class="input-block-level" ng-model="newInteraction.template">
      <option value=""></option>
      <option ng-repeat="template in templateList" value="{{template.key}}">{{template.value}}</option>
    </select>

    <textarea class="input-block-level" ng-model="newInteraction.solution"
              placeholder="Solution" rows="3"></textarea>

    <button class="btn btn-large btn-block" type="button"
            ng-click="create()"
            ng-disabled="!newForm.$valid">Submit</button>
  </form>

  <loading-progress></loading-progress>
</div>