<div class="content">
  <form name="newForm" ng-hide="module == 'interaction'">
    <label class="checkbox pull-right">
      <input type="checkbox" ng-model="me"> Me
    </label>

    <label for="contact">Contact</label>

    <input id="contact" type="text" class="input-block-level" ng-model="newInteraction.contact"
           placeholder="Contact" required></input>



    <textarea class="input-block-level" ng-model="newInteraction.description"
              placeholder="Description" rows="3" required></textarea>

    <label for="template">Template</label>
    <select class="input-block-level" ng-model="newInteraction.template">
      <option value="1">Password Reset</option>
      <option value="2">User Authentication Error</option>
      <option value="3">Request for Software</option>
      <option value="4">Request for Hardware</option>
      <option value="5">Request for Server</option>
    </select>

    <textarea class="input-block-level" ng-model="newInteraction.solution"
              placeholder="Solution" rows="3"></textarea>

    <button class="btn btn-large btn-block" type="button"
            ng-click="create()"
            ng-disabled="!newForm.$valid">Submit</button>
  </form>

  <div class="alert alert-success" ng-show="alert">
    {{alert}}
  </div>

  <loading-progress></loading-progress>
</div>